.about{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.rightabout{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
}