
@import url('https://fonts.cdnfonts.com/css/boardmarker');

.border{
    padding: 20px 20px;
}
.divided {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px 20px;
}

.header {
    align-items: center;
    text-align: center;
}

.whole{
    border: 1px solid black;
    padding: 20px 20px;
    border-radius: 20px;
}

@media (max-width:426px) {
    .divided {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 20px;
    }

}