.divided {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px 20px;
}

.header {
    align-items: center;
    text-align: center;
}

@media (max-width:426px) {
    .divided {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 20px;
    }

}