@import url('https://fonts.cdnfonts.com/css/boardmarker');
@import url('https://fonts.cdnfonts.com/css/kay-pho-du');

* {
    font-family: 'Kay Pho Du', sans-serif;

}

.border {
    padding: 20px 20px;
}

.divided {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px 20px;
    width: 100%;
    height: 60vh;
    overflow:scroll;
}

.map{
     width: 50%;
}

.details{
    width: 50%;
}

.header {
    align-items: center;
    text-align: center;
}

.whole {
    border: 1px solid black;
    padding: 20px 20px;
    border-radius: 20px;
}

@media (max-width:426px) {
    .divided {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 20px;
    }
    .map{
     width: 100%;
    }

    .details{
    width: 100%;
    }
    

}

