.wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}


.wrapper img{
  width: 99vw;
  
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-overlay {
  position: absolute;
  top: 22.5%;
  right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  color: white;
  font-size: 24px;
}

.full-overlay h1{
    font-size: 3vw;
}